<h1>hello!</h1>

<!-- SEARCH BOX -->
<%= form_tag welcome_index_path, :method => 'get', class: 'form-group' do %>
  <p>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search], :placeholder => "e.g. Tokyo museums, Seattle cafes, Dublin pubs, etc.", class: 'form-control' %>
    
    <p><%= submit_tag "Search", class: "btn btn-warning btn-lg" %></p>
  </p>
<% end %>
</div>

<!-- LEFT SIDE -->
<div class="col-sm-9">
  <div class="list-group results">
    <% if @results %>
    <h3><a class="list-group-item active">Search Results</a></h3>
    <!-- LIST ALL SEARCH RESULTS -->
      <% @results['results'].each do |r| %>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= link_to r['name'], r['place_id'].to_s %></h4>
          <p class="list-group-item-text">
            <%= r['formatted_address'] %>
          </p>
        </div>
      <% end %><!-- END SEARCH RESULTS --> 
    <% end %> <!-- END LEFT -->
  </div>
</div>